.whole {
    border: 1px solid black;
    position: relative;
}

.svg {
    background-color: transparent;
}


.raw {
    background-color: transparent;
    border: 1px solid pink;
    height: 1000px;
    left: 100;
    position: absolute;
    top: 100;
    width: 1000px;
}