.pointCounterContainer {
    display: grid;
    grid-column: span 5;
    grid-template-columns: 1fr 1fr;
    margin: 5px;
    outline: 2px solid #000000;
    padding: 5px;
}

.left {
    display: inline-block;
    grid-column: 1;
    text-align: center;
}

.right {
    display: inline-block;
    grid-column: 2;
    text-align: center;
}