@value colors: "~components/common/Colors/colorVariables.css";
@value color-teal-light from colors;

.layerContainer {
    display: grid;
    grid-template-columns: 50px 1fr;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
}

.individualLayersContainer {
    display: grid;
    grid-template-columns: repeat(100, 150px);
    overflow: auto;
    overflow: auto;
}

.layerControls {
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}
