repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
          - id: trailing-whitespace
          # -   id: end-of-file-fixer
          - id: check-yaml
          - id: check-added-large-files
          - id: check-json
    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: '0.27.1'
      hooks:
          - id: check-github-workflows
            args: ['--verbose']
          - id: check-renovate
