* {
    box-sizing: border-box;
}

.clickoContainer {
    display: inline-grid;
    font-size: 0.8em;
    grid-column: span 4;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 0.5fr 1fr;
    height: 100%;
    padding: 5px;
    padding-top: 0;
    width: 100%;
}

.title {
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    text-align: center;
    width: 100%;
}

.rangeContainerWithoutTitle {
    grid-column: span 3;
    grid-row: span 2;
}

.rangeContainerWithTitle {
    grid-column: span 3;
    grid-row: 2;
}

.extremeLabels {
    cursor: pointer;
}

.extremeLabels:hover {
    background-color: white;
}

.minLabel {
    grid-column: 1;
    text-align: left;
}

.maxLabel {
    grid-column: 3;
    text-align: right;
}

.rangeGrid {
    display: grid;
    grid-column: span;
    grid-template-columns: 1fr 8fr 1fr;
    height: 100%;
    width: 100%;
}

.rangeWithoutLabels {
    grid-column: span 3;
    height: 100%;
    position: relative;
    width: 100%;
}

input[type='range'] {
    -webkit-appearance: none;
    background: transparent;
    height: 100%;
    user-select: none;
    width: 100%;
}

input[type='range']:focus {
    outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
    animate: 0.2s;
    background: black;
    cursor: pointer;
    height: 2px;
    width: 100%;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
    height: 15px;
    margin-top: -7.5px;
    width: 15px;
}
