.container {
    background: url('~assets/clean-gray-paper-bg.png');
    background-color: #b3b3b3;
    box-shadow: black 2px 2px 1px;
    cursor: crosshair; 
    position: relative;
}

.drawingDiv {
    background: transparent;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 50;
}

.tempLinesDiv {
    background: transparent;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 45;
}
