.header {
    grid-column: 2;
    text-decoration: underline;
}

.clickoContainer {
    display: grid;
    font-size: 0.8em;
    grid-column: span 4;
    grid-gap: inherit;
    grid-template-columns: inherit;
    grid-template-rows: 2fr 2fr;
    height: 100%;
    width: 100%;
}

.leftAngle {
    grid-column: span 1;
}

.angleTitle {
    grid-column: span 2;
    line-height: 24px;
    text-align: center;
}

.rightAngle {
    grid-column: span 1;
}

.button {
    grid-column: span 2;
}

.inputWrapper {
    grid-column: span 4;
}

.extremeLabels {
    cursor: pointer;
}

.extremeLabels:hover {
    background-color: white;
}

.minLabel {
    grid-column: 1;
    text-align: left;
}

.maxLabel {
    grid-column: 2;
    text-align: right;
}

input[type='range'] {
    -webkit-appearance: none;
    background: transparent;
    height: 100%;
    user-select: none;
    width: 100%;
}
input[type='range']:focus {
    outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
    animate: 0.2s;
    background: black;
    cursor: pointer;
    height: 2px;
    width: 100%;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
    height: 15px;
    margin-top: -7.5px;
    width: 15px;
}
