@value colors: "~components/common/Colors/colorVariables.css";
@value color-teal-light from colors;

.layerContainer {
    display: grid;
    grid-template-columns: 50px repeat(10, 150px);
    grid-template-rows: 95px;
    max-width: 75%;
    width: 75%;
}

.gifHeaderContainer {
    display: grid;
    grid-template-columns: repeat(10, 150px);
    grid-template-rows: 100px;
    max-width: 75%;
    width: 75%;
}

.nameContainer {
    display: grid;
    grid-row: 1;
    grid-template-columns: 1fr 1fr;
}

.nameInput {
    border: 3px solid black;
    border-radius: 3px;
    font-size: 14px;
    grid-column: 1;
    max-width: 90px;
    padding: 3px;
}

.name {
    font-size: 16px;
    grid-column: span 2;
    padding: 3px;
    text-align: center;
}

.name:hover {
    border: 1px solid black;
}

.layerControls {
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}
