@value colors: "~components/common/colorVariables.css";
@value color-teal-light from colors;

.layerContainer {
    display: grid;
    grid-template-columns: 50px repeat(10, 150px);
    grid-template-rows: 100px;
    max-width: 75%;
    width: 75%;
}

.image {
    height: 60px;
    outline: 1px solid black;
}

.singleFrame {
    border: 2px solid black;
    border-radius: 2px;
    display: grid;
    grid-column: span 1;
    grid-row: span 1;
    grid-template-rows: 50px 50px;
    margin: 3px;
    padding: 5px;
}

.controls {
    align-items: center;
    display: grid;
    grid-row: 2;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.nameContainer {
    display: grid;
    grid-row: 1;
    grid-template-columns: 1fr 1fr;
}

.nameInput {
    border: 3px solid black;
    border-radius: 3px;
    font-size: 14px;
    grid-column: 1;
    max-width: 90px;
    padding: 3px;
}

.name {
    font-size: 16px;
    grid-column: span 2;
    padding: 3px;
    text-align: center;
}

.name:hover {
    border: 1px solid black;
}

.layerControls {
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}
