version: 2.1
jobs:
    build:
        working_directory: ~/lineboi3000
        docker:
            - image: cimg/node:24.12.0
        steps:
            - checkout
            - run:
                  name: Install Dependencies
                  command: npm ci
            - run:
                  name: Creating Dummy Artifacts
                  command: mkdir /tmp/diffs;
            - run:
                  name: Run Tests
                  command: npm run test:src
            - store_artifacts:
                  path: tmp/diffs
                  destination: image_snapshot_diff
            - run:
                  name: Biome
                  command: npm run biome:check
            - run:
                  name: CSS Files Lint
                  command: npm run style:check
