.container {
    background: url('~assets/onion.png');
    background-repeat: space;
    color: #888;
    height: 100%;
    width: 100%;
}

.content {
    background-color: white;
    border: 4px solid black;
    box-shadow: black 3px 3px 10px;
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px ;
    height: 900px;
    margin: 50px 20%;
    position: relative;
    width: 60%;
}

.oneOption {
    display: grid;
    grid-row: span 1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 20px 20px 20px 20px;
    outline: 2px dotted black;
    padding-left: 10px;
    padding-right: 10px;
}

.title {
    color: black;
    grid-row: 1;
    text-decoration: underline;
}

.optionContent {
    align-items: center;
    display: grid;
    grid-auto-flow: dense;
    grid-column: 1 / 4;
    grid-gap: 10px 10px;
    grid-row: 2;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .input, .button, .label {
    grid-column: span 0.5;
    margin: 0;
    width: auto;
  }

  .inputRow {
      align-items: center;
      color: black;
      display: grid;
      grid-column: span 2;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-items: center;
  }

.saveRow {
    grid-column: 3;
}

.inputColumn { 
    grid-column: span 1;
}

  .input {
      display: block;
      font-size: 1.5em;
      grid-column: span 0.5;
      margin: 10px 0px;
      outline: 1px solid black;
      padding: 10px;
      padding: 5px;
  }

  .input:disabled {
      background-color: lightgray;
      color: black;
  }

