.loadingContainer {
    grid-column: span 4;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.loadingText {
    height: 36px;
    left: 0px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 100%;
}

.loadingBackground {
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-name: MOVE-BG;
    animation-timing-function: linear;

    background: repeating-linear-gradient(
        135deg,
        transparent,
        transparent 10px,
        rgba(205, 205, 205, 1) 10px,
        rgba(205, 205, 205, 1) 16px
    );

    bottom: 0;
    left: -46px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

@keyframes MOVE-BG {
    from {
        -webkit-transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(46px);
    }
}
