* {
    box-sizing: border-box;
}

.container {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 1fr;
    height: 900px;
    margin: 0 auto;
    width: 1200px;
}

.buttons {
    grid-row: 1;
}

.before {
    align-self: top;
    border: 2px solid black;
    grid-column: 1;
    grid-row: 3;
    height: 500px;
    justify-self: center;
    width: 500px;
}

.after {
    align-self: top;
    border: 2px solid black;
    grid-column: 2;
    grid-row: 3;
    height: 500px;
    justify-self: center;
    width: 500px;
}