.wholeApp {
    display: grid;
    grid-template-columns: 300px 1200px;
    grid-template-rows: 100px 1fr;
    height: 1000px;
    max-width: 1600px;
}

.headerLeft {
    align-items: center;
    display: grid;
    font-size: 2em;
    grid-column: 1;
    justify-content: center;
}

.headerRight {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
    grid-column: 2;
    outline: 0px solid black;
}

.headerIcon {
    grid-column: span 1;
    grid-row: 1;
    height: 100%;
    outline: 1px solid red;
}

.sideBar {
    grid-column: 1;
    grid-row: 2;
    outline: 0px solid black;
}

.permanentOptions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.sideBarContainer {
    display: grid;
    grid-auto-rows: 50px;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    justify-content: start;
    width: 100%;
}

.buttonHalf {
    grid-column: span 1;
}

.buttonFull {
    grid-column: 1 / span 2;
    grid-row: span 2;
    width: 100%;
}

.content {
    grid-column: 2;
    grid-row: 2;
    outline: 0px solid black;
}

.svg {
    background-color: lightgray;
    height: 850px;
    margin: 4px;
    outline: 2px solid black;
    width: 1100px;
}
