.wholeApp {
    display: grid;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-template-columns: 300px 800px;
    grid-template-rows: 110px 740px;
    height: 850px;
    width: 1200px;
}

.headerLeft {
    align-items: center;
    background-color: floralwhite;
    display: grid;
    font-family: wellbutrin;
    font-size: 2.5em;
    grid-column: 1;
    justify-content: center;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.headerRight {
    border: 2px solid black;
    grid-column: 2;
}

.headerRightDisabled {
    background-image: repeating-linear-gradient(
        135deg,
        transparent,
        transparent 10px,
        rgba(205, 205, 205, 1) 10px,
        rgba(205, 205, 205, 1) 16px
    );
    border: 2px solid black;
    grid-column: 2;
    width: 100%;
}

.sidebar {
    height: 625px;
    overflow: scroll;
}

.permanentOptions {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 3px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 3px 0;
    padding: 0 5px;
}

.mainModeButtonImg {
    height: 20px;
    width: 20px;
}

.buttonHalf {
    grid-column: span 1;
}

.content {
    grid-column: 2;
    grid-row: 2;
    position: relative;
}
