* {
    box-sizing: border-box;
  }
  .itemSelector {
      border: 1px solid black;
      display: grid;
      grid-template-columns: 30px 1fr 30px 30px;;
      grid-template-rows: auto;
  }

  .leftArrow {
      grid-column: 1;
      height: 100%;
      outline: 1px solid black;
      width: 100%;
  }

  .rightArrow {
    grid-column: 3;
    height: 100%;
    outline: 1px solid black;
    width: 100%;
}

.textBox {
    align-self: center;
    cursor: pointer;
    grid-column: 2;
    height: 100%;
    justify-self: center;
    line-height: 32px;
    text-align: center;
    width: 100%;
}

.textBox:hover {
    background-color: pink;
}

.dropdownItem {
    align-self: center;
    border: 1px solid black;
    cursor: pointer;
    grid-column: span 3;
    height: 25px;
    justify-self: center;
    line-height: 25px;
    text-align: center;
}

.dropdownItem:hover {
    background-color: pink;
}

.confirm {
    cursor: pointer;
    grid-column: 4; 
    grid-row: 1;
}

.confirm:hover {
    background-color: green;
}

.cancel {
    cursor: pointer;
    grid-column: 4; 
    grid-row: 1;
}

.cancel:hover {
    background-color: red;
}

.dropdownContainer {
    grid-column: span 3;
}

