.svgLayer {
    background-color: transparent;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 25;
}

.currentLineLayer {
    background-color: transparent;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;
}