.sidebar,
.body {
    box-sizing: border-box;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(min-content, auto);
    justify-content: start;
    padding: 5px;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
}

.sidebarItem {
    font-size: 0.8em;
    outline: 2px solid black;
    padding-bottom: 3px;
}

.openToggleButton {
    cursor: pointer;
    float: right;
    outline: 1px solid black;
    overflow: visible;
    padding: 0px 7px;
}

.sidebarPopover {
    align-items: center;
    background: #eceff1;
    border: 5px solid black;
    border-radius: 50px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 120px;
    justify-content: center;
    width: 350px;
    zindex: 100;
}

.helpButton {
    cursor: pointer;
    float: left;
    outline: 1px solid black;
    overflow: visible;
    padding: 0px 7px;
}

.title {
    align-self: center;
    border-bottom: 2px solid black;
    font-weight: bold;
    grid-column: 1;
    justify-self: center;
    line-height: 15px;
    text-align: center;
    width: 100%;
}
