@font-face {
    font-family: 'VCR';
    src: url('./assets/fonts/VCR_OSD_MONO.ttf');
}

@font-face {
    font-family: 'linebeam';
    src: url('./assets/fonts/linebeam.ttf');
}

button {
    cursor: pointer;
}
/* global styles go here */

html, body {
    font-family: VCR;
    height: 100vh;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */        
    user-select: none;
    width: 100vw; 
}
 

input {
    font-family: VCR;
}

button:focus {
    outline: none;
}