label {
    display: block;
    grid-column: span 2;
    line-height: 20px;
    text-align: center;
    width: 100%;
}

button {
    grid-column: span 4;
}

.plotterStatusBox {
    grid-column: span 4;
    height: 30px;
    line-height: 30px;
    outline: 3px solid black;
    text-align: center;
}

.plotterHeightBox {
    grid-column: span 1;
    height: 30px;
    line-height: 30px;
    outline: 3px solid black;
    text-align: center;
}

.plotterHeightDisplay {
    grid-column: span 2;
    height: 30px;
    line-height: 30px;
    outline: 3px solid black;
    text-align: center;
}

.searching {
    background: repeating-linear-gradient(
        135deg,
        transparent,
        transparent 10px,
        rgba(205, 205, 205, 1) 10px,
        rgba(205, 205, 205, 1) 16px
    );
}

.simulation {
    background-color: lightyellow;
}

.connected {
    background-color: lightgreen;
}

.disconnected {
    background-color: lightcoral;
}
