.numberInput {
    display: block;
    font-size: 1.1em;
    grid-column: span 1;
    height: 20px;
    outline: 1px solid black;
    text-align: right;
    width: 95%;
}

.suffix {
    align-self: center;
    grid-column: span 1;
    justify-self: center;
    text-align: left;
}

.label {
    align-self: center;
    grid-column: span 2;
    justify-self: center;
    text-align: center;
}

.numberWrapper {
    display: grid;
    grid-column: span 4;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2px;
}
