# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
    push:
        branches: ['master']
    pull_request:
        branches: ['master']

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [16.x]

        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'yarn'
            - name: Install Dependencies
              run: yarn install
            # - name: Save Yarn Package Cache
            #         key: yarn-packages-{{ checksum "yarn.lock" }}
            #         paths:
            #             - ~/.cache/yarn
            - name: Creating Dummy Artifacts
              run: mkdir /tmp/diffs;
            - name: Run Tests
              run: yarn test:src
            # - store_artifacts:
            #       path: tmp/diffs
            #       destination: image_snapshot_diff
            - name: ESLint
              run: yarn eslint:check
            - name: CSS Files Lint
              run: yarn style:check
            - name: Prettier
              run: yarn prettier:check
